// Mixins in here

.display (@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

.display-col (@justify, @align){
    display: flex;
    flex-flow: column wrap;
    justify-content: @justify;
    align-items: @align;
}

@mob500: ~'(max-width: 500px)';


@keyframes sun {
    0%   {background-color:#FFF57B;}
    20%  {background-color:#FFE469;}
    40%  {background-color:#FECC51;}
    60%  {background-color:#FCB033;}
    80%  {background-color:#FA961B;}
    100%  {background-color:#FA8607;}
}

@keyframes mnt {
    0%   {background-color:#27408E;}
    20%  {background-color:#304faf;}
    40%  {background-color:#536cb5;}
    60%  {background-color:#7688bb;}
    80%  {background-color:#98a5c0;}
    100%  {background-color:#c0c6cb;}
}

@keyframes isl {
    0%   {background-color:#abf6c3;}
    25%  {background-color:#c5f9db;}
    50%  {background-color:#b1fdf7;}
    75%  {background-color:#aaecff;}
    100%  {background-color:#93e6ff;}
}